.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }

  .modalContent {
    background-color: #252525db;
    margin: 15% auto;
    padding: 5px;
    border: 3px solid #000000;
    width: 60%; 
    color:white;
  }

  .modalContent p{
    margin: 15px 20px;
  }

  .closeModal {
    background: url("../../../public/images/icons/draw-icons/clear.svg") no-repeat center/contain;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width:20px;
    height:20px;
    z-index: 50;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }