#info{
    position:fixed;
    bottom: 10px;
    right: 10px;
}

#infoButton{
    height:40px;
    width:40px;
    background: url("../../../public/images/icons/draw-icons/info.svg") no-repeat center/contain;
    border: none;
    filter: invert();
}
