
.keyIcons{
    background-size:25px 25px;
    background-repeat: no-repeat;
    object-fit:contain;
    list-style-type: none;
    width:25px;
    height:25px;
}
.keyBullet{
    list-style-type: circle;
}