.toastContainer {
    --bs-bg-opacity: 1; /* Override Bootstrap's variable to ensure full background color */
    background-color: #f0f0f0;
    color: #333;
    font-style:var(--font-back-issues);
}

.toastHeader {
    background-color: #dcdcdc;
    color: #333;
}

.toastBody {
    background-color: #e6e6e6;
    color: #333;
}