/*img
{
    filter: grayscale(100);
}*/
.body
{
    width: 100%;
    height: 100vh;
    font-family: var(--font-back-issues);
    background-color: #2d2d2d;
    max-width: 100%;
    padding-right: 0 !important;
    /* overflow: hidden; */
    background-image: radial-gradient(circle at center,
            #414141 0.15rem,
            transparent 0), radial-gradient(circle at center, #414141 0.15rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;

    color:white;
    font-size: small;

    position: absolute;
}

#redoButton, #undoButton, #clearButton
{
    color:white !important;
    background-color: wheat;
}

#imagePreviews
{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.canvas
{
    border-style: solid;
    background-color: white;
    cursor: pointer;

    width: 60vw !important;
    height: auto !important;

    aspect-ratio: 3 / 2;

    align-self: center;
}

#createPage
{
    display: flex;
    flex-direction: row;   

    height: auto;
    width: 90vw;

    margin: 20px auto;
    align-items: center;
    justify-content: center;
}

#toolRadioSelects, #functionButtons, .backgroundUploadForm
{
    margin: 0 auto;
}

#toolRadioSelects
{
    order: 0;
    width: 20px;
}
#canvas
{
    order: 1;
}
#toolOptions
{
    order: 2;

    align-self: center;
    margin-left: 20px;

    width: 15vw;
    height: 70vh;
    
    background-color: #00000062;
    border: 3px solid black;

    padding: 10px;
}

.toolStyles
{
    overflow-y: scroll;
    overflow-x: hidden;

    height: 60%;
}

.a 
{
    color: white;
}

#fieldSet
{
    align-self: center;
    margin-right: 20px;

    width: 40px;

    background-color: #00000062;
    border: 3px solid black;
}

#layerOptions
{
    margin: 10px 10px 0 0;
}

.layerSelect
{
    position: relative;
    width: 100%;

    margin: auto 0;
    height: 15px;
}

.layer
{
    padding: 5px;
    border: solid 3px white;
    background-color: black;

    display:flex;
    flex-direction: row;

    width: 100%;
}

.layerSelectRadio
{
    left: 0;
    width: 100%;
    height: 100%;

    background-color: red;

    position: absolute;
    opacity: 0;
}

/* ICONS */

#toolRadioSelects [type=radio], #layerOptions [type=checkbox], #backgroundUpload input
{
    position: absolute;
    opacity: 0;
    width:20px;
    height:20px;
}

#penLabel
{
    background: url("../../public/images/icons/draw-icons/pen.svg") no-repeat center/contain;
    transform: scaleY(-1);
}

#eraserLabel
{
    background: url("../../public/images/icons/draw-icons/eraser.svg") no-repeat center/contain;
}

#fillLabel
{
    background: url("../../public/images/icons/draw-icons/bucket.svg") no-repeat center/contain;
    transform: scaleX(-1);
}

#shapeLabel
{
    background: url("../../public/images/icons/draw-icons/shapes.svg") no-repeat center/contain;
}

#textLabel
{
    background: url("../../public/images/icons/draw-icons/text.svg") no-repeat center/contain;
}

#stickerLabel
{
    background: url("../../public/images/icons/draw-icons/sticker.svg") no-repeat center/contain;
}

#selectLabel
{
    background: url("../../public/images/icons/draw-icons/select.svg") no-repeat center/contain;
}

#transformLabel
{
    background: url("../../public/images/icons/draw-icons/transform.svg") no-repeat center/contain;
}

#undoLabel
{
    background: url("../../public/images/icons/draw-icons/undo.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
}

#redoLabel
{
    background: url("../../public/images/icons/draw-icons/undo.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
}

#clearLabel
{
    background: url("../../public/images/icons/draw-icons/clear.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
}

#undoLabel button, #redoLabel button, #clearLabel button
{
    outline: none !important;
    border: none !important;
    background-color: none !important; 
}

#undoLabel:has(button:hover), #redoLabel:has(button:hover), #clearLabel:has(button:hover), .formLabel:has(input:hover)
{
    filter: brightness(.5);
}

#undoLabel:has(button:active), #redoLabel:has(button:active), #clearLabel:has(button:active), .formLabel:has(input:active)
{
    filter: brightness(.3);
}

.visibleLabel
{
    background: url("../../public/images/icons/draw-icons/eyeclose.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
}

.lockLabel
{
    background: url("../../public/images/icons/draw-icons/unlock.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
}

.formLabel
{
    background: url("../../public/images/icons/draw-icons/upload.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
}

.lockStyling
{
    margin: 8px 5px !important;
}

.toolStyling, .visibleStyling, .lockStyling
{
    width: 20px;
    height: 20px;

    margin: 8px 0;
}

.toolStyling label
{
    width: 100%;
    height: 100%;
}

.toolStyling:has([type=radio]:checked)
{
    filter: brightness(.5);
}

.visibleStyling, .lockStyling
{
    filter: brightness(.5);
}

.visibleStyling:has([type=checkbox]:checked), .lockStyling:has([type=checkbox]:checked)
{
    filter: brightness(1);
}

.layer:has([type=radio]:checked)
{
    background-color: #414141;
    border-color:#cccccc;
}

.visibleStyling:has([type=checkbox]:checked) .visibleLabel
{
    background: url("../../public/images/icons/draw-icons/eyeopen.svg") no-repeat center/contain;
}

.lockStyling:has([type=checkbox]:checked) .lockLabel
{
    background: url("../../public/images/icons/draw-icons/lock.svg") no-repeat center/contain;
}

#functionButtons
{
    width: 20px;
    height: auto;
    display:flex;
    flex-direction: column;
    
    justify-content: space-between;
}

#functionButtons label
{
    width: 100%;
    height: 100%;

    margin: 0 0 8px 0;
}

.backgroundUploadForm
{
    width: 20px;
    height: 20px;

    margin-bottom: 5px;
}

/* PUBLISH */
.publishButton, .saveButton
{
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: white;
    color: black;

    padding: 5px;
    border: 3px solid black;
    border-bottom: 4px solid black;
    margin: 0 5px 5px 0;
}

.saveButton
{
    right: 10%; 
}


/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {}

/* [md] Medium devices, 768px and up */
@media (min-width: 768px) {}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}