/*img
{
    filter: grayscale(100);
}*/
#imagePreviews
{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
canvas
{
    border-style: solid;
    background-color: white;
    cursor: pointer;
}