/*img
{
    filter: grayscale(100);
}*/
.body
{
    width: 100%;
    height: 100vh;
    font-family: var(--font-back-issues);
    background-color: #2d2d2d;
    max-width: 100%;
    padding-right: 0 !important;
    overflow: hidden;
    background-image: radial-gradient(circle at center,
            #414141 0.15rem,
            transparent 0), radial-gradient(circle at center, #414141 0.15rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;

    color:white;
    font-size: small;
}

#redoButton, #undoButton, #clearButton
{
    color:white !important;
    background-color: wheat;
}

#imagePreviews
{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.canvas
{
    border-style: solid;
    background-color: white;
    cursor: pointer;
}
#createPage
{
    display: flex;
    flex-direction: row;   
    
    height: 100vh;
    overflow: none;
}
#toolRadioSelects
{
    order: 0;
}
#canvas
{
    order: 1;
}
#toolOptions
{
    order: 2;
}
.a 
{
    color: white;
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {}

/* [md] Medium devices, 768px and up */
@media (min-width: 768px) {}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}