/*img
{
    filter: grayscale(100);
}*/
body
{
    color: white;
}
#imagePreviews
{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
canvas
{
    border-style: solid;
    background-color: white;
    cursor: pointer;
}
#canvasLayers canvas
{
    position: absolute;
}
#createPage
{
    display: flex;
    flex-direction: row;    
}
#toolRadioSelects
{
    order: 0;
}
#canvas
{
    order: 1;
}
#toolOptions
{
    order: 2;
}
a
{
    color: white;
}