:root
{
    /* color variables */
    --primary-color: #D91911; /* or #902421 */
    --secondary-color: #FFD172;
    --accent-color: #009BC6;
    --background-color: #101A37;
  
    --grayscale-primary-color: #929292;
    --grayscale-background-color: #494949;
    --grayscale-text-bg-color: #FFFFFF;
    --grayscale-text-color: #000000;
  
    /* font variables:
        Inter: --font-inter
        Ceviche One: --font-ceviche-one
        Comic Neue: --font-comic-neue
         */
}

.navbar, .footer
{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 300;
}

.navbar
{
    background-color: var(--grayscale-primary-color);
}

body, html
{
    width: 100%;
    font-family: var(--font-comic-neue);
    background-color: var(--grayscale-background-color);
}

main{
    padding: 20px 0;
}

h2, button{
    font-family: var(--font-ceviche-one);
    font-weight: 400;
}

.login{
    font-family: var(--font-inter);
    font-weight: 500;
}

.mission h2{
    color: var(--grayscale-text-color);
    background-color: var(--grayscale-text-bg-color);
    border: 20px solid transparent;
    border-image: url(../../public/images/Header\ Box\ Right.svg) 30% fill stretch;
}

.mission p
{
    color: var(--grayscale-text-color);
    background-color: var(--grayscale-text-bg-color);
    border: 25px solid transparent;
    border-image: url(../../public/images/Mission\ Box.svg) 18% stretch;
}

.read
{
    color: var(--grayscale-text-color);
}

.read h2{
    position: relative;
    border: 20px solid transparent;
    background: url(../../public/images/Header\ Box\ Left.svg) no-repeat center/cover;
    z-index: 1;
}

.read p{
    border: 20px solid transparent;

    background: url(../../public/images/Read\ Box.svg) no-repeat center/cover;
    margin-top: -35px;
    margin-bottom: -20px;
} 

.create
{
    color: var(--grayscale-text-color);
}

.create h2{
    position: relative;
    border: 20px solid transparent;
    background: url(../../public/images/Header\ Box\ Right.svg) no-repeat center/cover;
    z-index: 1;
}

.create p{
    border: 20px solid transparent;
    background: url(../../public/images/Create\ Box.svg) no-repeat center/cover;
    height: 35vh;
    width: 80vw;
    font-size: 4vw;
    padding-left: 5vw;
    margin-top: -4.5vh;
    margin-bottom: -2vh;
}

.read button, .create button{
    position: relative;
    border: 10px solid transparent;
    background: url(../../public/images/Button\ Box.svg) no-repeat center/cover;
    width: 30vw;
    font-size: 5vw;
    z-index: 1;
    margin-bottom: 40px;  
    margin-top: -10px;
}

.teamTitle{
    font-size: 50px;
}

.filter .btn{
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    color: var(--grayscale-primary-color);
}

.filter .btn:hover{
    color: var(--grayscale-text-bg-color);
    background-color: var(--grayscale-text-color);
    border: var(--grayscale-primary-color) 2px solid;
}

.creatorGroup{
    border: 2px solid var(--grayscale-primary-color);
}

.chapterTitle{
    font-family: 'Ceviche One';
    font-size: 20px;
    /* border: 2px solid var(--grayscale-primary-color);   */
}

.professors{
    display: inline-Flex;
    text-align: center;
    border: 5px solid;
    justify-content: center;
}

.prof-item{
    border: #009BC6 2px solid;
    margin: 0;
}

.footer{
    background-color: var(--grayscale-text-bg-color); 
    width: 100%;
    justify-content: space-between;
}

 .footer-nav
{
    justify-content: flex-start;
    font-family: var(--font-ceviche-one);
    font-size: larger;
    font-weight: 400;
}

.footer-nav-list {
    justify-content: space-between;
    padding: 0;
}

.footer-nav-list li
{
    font-family: var(--font-comic-neue);
    font-size: medium;
    display: inline-block;
    padding-right: 10px;
}

.social
{
    justify-content: space-between;
    text-align: right;
    margin-top: 15px;
    padding: 10px;
}

.social li
{
    display: inline-block;
    padding: 6px;
}

.footer-nav-list a, .footer-nav a
{
    text-decoration: none;
    /* color: var(--secondary-color); */
    color:var(--grayscale-text-bg-color);
}

.footer-nav-list a:hover, .footer-nav a:hover
{
    color: var(--grayscale-primary-color);
}

.fa
{
    width: 30px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px 20px;
}

.fa:hover
{
    opacity: 0.7;
}

.copyright{
    color: var(--grayscale-primary-color);
    font-size:medium;
    text-align: center;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    main{
        padding: 30px;
    }
   .hero
    {
        height: 500px;
    }

    .heroimg
    {
        height: 500px;
    }

    .rightspikes
    {
        height: 500px;
        max-width: 600px;
        position:absolute;
        right: 0;
        top: 0;
    }

    .leftspikes
    {
        height: 500px;
        max-width: 600px;
        position:absolute;
        left: 0;
        top: 0;
    }

    .splashlogo
    {
        width: 50%;
        height: auto;
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
} 

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    main{
        padding: 30px;
    }
    .professors{
        width: 70%;
        margin: 10px 100px;
    }
  .hero
    {
        height: 300px;
        overflow: auto;
        position: relative;
    }

    .heroimg
    {
        max-height: 300px;
    }

    .rightspikes
    {
        max-height: 300px;
        max-width: 600px;
        position:absolute;
        right: 0;
        top: 0;
    }

    .leftspikes
    {
        max-height: 300px;
        max-width: 600px;
        position:absolute;
        left: 0;
        top: 0;
    }

    .splashlogo
    {
        width: 50%;
        height: auto;
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    main{
        padding: 30px 100px;
    }

 }

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
