/* GLOBALS */

:root {
    /* color variables */
    --light-red: #D91911;
    /* or #902421 */
    --yellow: #FFD172;
    --dark-red: #902421;
    --light-blue: #009BC6;
    --dark-blue: #070e23;

    --grayscale-primary-color: #929292;
    --grayscale-background-color: #494949;
    --grayscale-text-bg-color: #FFFFFF;
    --grayscale-text-color: #000000;

    /* font variables:
        Inter: --font-inter
        Ceviche One: --font-ceviche-one
        Comic Neue: --font-comic-neue
         */
}

.card {
    --bs-card-bg: transparent;
    border: none;
    --bs-card-img-overlay-padding: none;
}

a {
    color: black;
    text-decoration: none;
}

body
{
    overflow: auto !important;
}

/* NAVBAR */

::selection {
    background: #cdcdcd;
    color: black;
}

.navbar,
.footer {
    font-family: var(--font-back-issues);
    font-style: normal;
    font-weight: 300;
}

.navbar {
    background-color: var(--grayscale-background-color);
    border-bottom: solid 3px black;
}

.nav-link,
.nav-btn {
    color: var(--grayscale-primary-color);
    font-size: 1.5rem;
}

.nav-btn
{
    border: none;
    padding: 8px 0;
}

.nav-btn:hover
{
    background-color: transparent;
    border-bottom: none;
}

.nav-btn:active
{   
    background-color: transparent;
    border: none;
}

.navbar-toggler
{
    border: solid 3px #000000;
    border-bottom: solid 4px #000000;
    color: black;
    background-color: #898989;

    box-shadow: none !important;
}

.navbar-toggler:hover
{
    background-color: #3e3e3e;
    border: solid 3px #000000;
    border-bottom: solid 4px #000000;
}

.navbar-toggler:active
{   
    background-color: #3e3e3e;
    margin-top: 1px;
    border: solid 3px #000000;
}

.navbar-nav
{
    text-align: left;
    margin-left: 1.5rem;
}

.offcanvas-header {
    font-size: 1.5rem;
}

/* FOOTER */

.footer-bar {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    z-index: 5;
    filter: grayscale(1);
}

.footer-nav {
    justify-content: flex-start;
    font-family: var(--font-back-issues);
    font-size: 18px;
    padding: 1vh 0vw 0vh 5px;
}

.footer-head {
    font-weight: bold;
}

.footer-nav-list {
    justify-content: space-between;
    font-size: 16px;
    padding: 1vh 0vw 0vh 0vw;
}

.footer-nav-list li {
    font-family: var(--font-back-issues);
    display: inline-block;
    padding-right: 3vw;
}

.social-div {
    justify-content: flex-start;
}

.social {
    justify-content: space-between;
    text-align: right;
    padding: 10px;
}

.social li {
    display: inline-block;
    padding: 6px;
}

.footer-nav-list li,
.footer-nav a {
    text-decoration: none;
    color: var(--grayscale-text-bg-color);
    padding: 5px;
}

.footer-nav-list li:hover,
.footer-nav a:hover {
    color: var(--grayscale-primary-color);
}

.icondiv {
    position: relative;
    width: 25px;
    height: 25px;
    text-align: start;
}

.icondiv:hover {
    opacity: 0.7;
}

.iconcolor {
    filter: invert(100%);
    /* filter: invert(79%) sepia(16%) saturate(1167%) hue-rotate(354deg) brightness(103%) contrast(104%); */
    /* Yellow icons ^ */
}

.copyright-div {
    font-family: var(--font-back-issues);
    color: var(--grayscale-primary-color);
    font-size: medium;
    flex-basis: 100%;
    text-align: left;
    margin-left: 10px;
}

/* FORMS */
.form-control, .form-select
{
    margin: 0;
    max-width: 300px;
    border-radius: 6px;
    border: solid 3px #000000;
}

.accordion-item
{
    border-radius: 6px;
    border: solid 3px #000000;

    background-color: black;
}

.form-control:focus, .team-form:focus, .form-select:focus
{
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 3px #ffffff;
    background-color: white;
}

.accordion-body
{
    width: 100%;
    margin: 0;
}

.input-group
{
    flex-wrap: nowrap !important;
}

.form-select:focus
{
    background-color: white;
    color: black;
}

.accordion-button
{
    color: white;
    filter: grayscale(1);
    border-bottom: 3px solid black !important;
}

.accordion-button:hover, .accordion-button:focus
{
    outline: none;
    box-shadow: none;
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {

    /* FOOTER */

    .footer-bar {
        position: relative;
        flex-direction: column;
        max-height: none;
        flex-flow: row wrap;
        z-index: 5;
    }

    .copyright-div {
        flex-basis: 100%;
        text-align: center;
        margin: 0;
    }

    .social-div {
        flex-basis: 50%;
    }

    .social {
        text-align: right;
    }

    .footer-nav {
        flex-basis: 50%;
    }

    .footer-nav-list {
      margin: 0;
    }

    #scroll-text {
        font-size: 1.2rem;
        padding-top: 15px;
    }
}

/* [md] Medium devices, 768px and up */
@media (min-width: 768px) {}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {
    .nav-btn
    {
        border: solid 3px #000000;
        border-bottom: solid 4px #000000;
        color: black;
        background-color: #898989;

        padding: 8px;
    }

    .nav-btn:hover
    {
        border: solid 3px #000000;
        border-bottom: solid 4px #000000;
    }

    .nav-btn:active
    {   
        margin-top: 1px;
        border: solid 3px #000000;
    }

    .nav-item
    {
        margin: auto 1.5rem auto 0;
    }
}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}
