.loadContainer{
    z-index: 1000;
    position: fixed;
    top: 50vh; 
    left:50vw;
    width: 10vw;
    height: 10vw;
}
.loadAnimation {
    position:absolute;
    top:0;
    background-image: url(../../public/images/GIFs/loading-split/loading_7.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: brushCircle 1.5s ease infinite, colorCycle 4.5s linear infinite;
    animation-fill-mode: forwards;
    
}

.glowRing{
    transform: translate(-50%,-50%);
    width:80%;
    height:80%;
    border-radius: 50%;
    background:radial-gradient(transparent 60%, #939393 90%);
    box-shadow: 0px 0px 10px #939393;
}

@keyframes colorSwipe {
    0%{
        filter:drop-shadow(0px 0px 10px linear-gradient(var(--light-red) 0%,var(--light-blue) ))  
    }
    25%{
        filter:drop-shadow(0px 0px 10px linear-gradient(var(--light-red) 90%,var(--light-blue) ))  
    }
    41%{
        filter:drop-shadow(0px 0px 10px var(--yellow))  
    }
    58%{
        filter:drop-shadow(0px 0px 10px var(--yellow))  
    }
    74%{
        filter:drop-shadow(0px 0px 10px var(--light-blue))  
    }
    92%{
        filter:drop-shadow(0px 0px 10px var(--light-blue))  
    }
    100%{
        filter:drop-shadow(0px 0px 10px var(--light-red))  
    }
}

@keyframes colorCycle{
    0%{
        filter:drop-shadow(0px 0px 10px var(--light-blue)) drop-shadow(0px 0px 5px #ffffff80)
    }
    41%{
        filter:drop-shadow(0px 0px 10px var(--yellow)) drop-shadow(0px 0px 5px #ffffff80)
    }
    74%{
        filter:drop-shadow(0px 0px 10px var(--light-red)) drop-shadow(0px 0px 5px #ffffff80)
    }
    100%{
        filter:drop-shadow(0px 0px 10px var(--light-blue)) drop-shadow(0px 0px 5px #ffffff80)
    }
}

@keyframes brushCircle {
    0% {
        background-image: url(../../public/images/GIFs/loading-split/loading_1.png);
    }
    7% {
        background-image: url(../../public/images/GIFs/loading-split/loading_2.png);
    }
    14% {
        background-image: url(../../public/images/GIFs/loading-split/loading_3.png);
    }
    21% {
        background-image: url(../../public/images/GIFs/loading-split/loading_4.png);
    }
    28% {
        background-image: url(../../public/images/GIFs/loading-split/loading_5.png);
    }
    35% {
        background-image: url(../../public/images/GIFs/loading-split/loading_6.png);
    }
    42% {
        background-image: url(../../public/images/GIFs/loading-split/loading_7.png);
    }
    49% {
        background-image: url(../../public/images/GIFs/loading-split/loading_8.png);
    }
    56% {
        background-image: url(../../public/images/GIFs/loading-split/loading_9.png);
    }
    63% {
        background-image: url(../../public/images/GIFs/loading-split/loading_10.png);
    }
    70% {
        background-image: url(../../public/images/GIFs/loading-split/loading_11.png);
    }
    77% {
        background-image: url(../../public/images/GIFs/loading-split/loading_12.png);
    }
    84% {
        background-image: url(../../public/images/GIFs/loading-split/loading_13.png);
    }
    93% {
        background-image: url(../../public/images/GIFs/loading-split/loading_14.png);
    }
    100% {
        background-image: url(../../public/images/GIFs/loading-split/loading_15.png);
    }
}
