.gradient {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(100deg, #68152e, #471137);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(100deg, #68152e, #471137);
}

#profileEditorContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileEditor {
    /* display: inline-block;
    position: relative;
    width: 500px;
    height: 500px; */
    /* width: 1000px; */
    width: 500px;
    max-width: 80%;
    /* aspect-ratio: 3/2; */
    max-height: 80%;
    background-color: #fff;
    /* box-shadow: 0 0 100px 0px #fff2; */

}

#profileIcon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    background-image: 
    linear-gradient(45deg, #808080 25%, transparent 25%), 
    linear-gradient(-45deg, #808080 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #808080 75%), 
    linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    object-fit: cover;
}

.options {
}

.card {
    background-color: #eee;
}
