.body{
  background-color: rgb(48, 48, 48);
  background-image:url("../../public/images/background-app-transparent.png") !important;
  /* background-position: center; */
  background-repeat:repeat;
  background-size:auto;
  height:100%;
  width:100%;
  filter:none;
  position: absolute;
  top:0;
  overflow: hidden;
}

.backgroundImage{
  content:"";
  position: absolute;
  top:0;
  left:0;
  background-color:rgb(48, 48, 48);
  background-image: url("../../public/images/background-app-transparent.png");
  background-size:800px;
  width:100vw;
  /* height:100%; */
  z-index:0;
  opacity:0.3;
}

#publishContainer{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  height:100vh;
  margin:auto 50px;
}

#publishSlideshow{
  margin-top:20px;
  height:auto;
  width:100%;
  max-height:97vh;
  flex-grow:3; 
  flex-shrink:0.5;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#panelOverview{
  width:100%;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselView{
 /* width:35vw;*/
 width:100%;
 height:100%;
 max-width:97vh;
 /* padding:20px; */
 
}
.carouselItem {
  /* left: -200px; */
  width:100%;
  max-width: 100%;
  height:100%;
  
  /* max-height: 50vh; */
}

.carouselItem img {
  width: 100%;
  max-height: 100%;
  object-fit:contain;
}

.carouselPlaceIndicators{
 display:flex;
 justify-content: center;
  max-width:100%;
}

.carouselPlaceIndicators button{
  content:"";
  margin:10px;
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:rgb(183, 183, 183);
  border:none;
}

.carouselPlaceIndicators button.active{
  width:20px;
  height:20px;
  background-color:var(--yellow);
  transform:translate(0,-2.5px);
}

.carouselControls{
  width:50px;
  background-color: transparent;
  border:none;
}

.carouselControls:hover{
  background-color: transparent;
  border:none;
  
}

.carouselControls>span:hover{
  /* color:var(--yellow); */
  transform:scale(1.5) translate(-.25,-.75);
}

.buttonContainer{
  /* width:35vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 20px;
  margin-right:70x;
  text-align: center;
  color:white;
}

.buttonContainer p{
  font-size:0.75rem;
}

.buttonContainer button:hover{
  background-color:var(--light-blue);
  color:white;
}

.buttonContainer>div{
  background-color:rgba(23, 23, 23, 0.85);
  border-radius:15px;
  padding:20px;
  margin:10px;
}

.branchHooks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* font-size: 24px; */
}

#branch-hook-controls{
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.branchHookText p{
  margin:0;
}

.branchControlBtn{
  font-size:1.5rem;
  padding:10px 15px;
  border:none;
  border-radius:15px;
  background-color:#929292;
  color:black;
}


#publishBtn {
  font-size: 3.5rem;
  padding:0px 25px;
  background-color:rgba(255, 255, 255, 0);
  /*color:black; */
  /* border-radius:20px; */
   border:none;
   width:25vw;
  height:15vw;
  min-height:135px;
  object-fit:contain;
  background-image: url(../../public/images/icons/publish-button.PNG);
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
}

#publishBtn:hover{
  /* background-color:var(--light-red);
  color:var(--yellow);
  transform:scale(1.5) translate(-.25,-.75); */
  border:none;
  background-color:rgba(255, 255, 255, 0);
  background-image: url(../../public/images/icons/publish-button-color.PNG);
}

.button:hover{
  background-color: darkgray;
}
.footer-bar{
  display:none;
}

@media only screen and (max-width: 800px){
  /*Tablets [601px -> 1200px]*/
 .body{
  position:static;
 }
  #publishContainer{
    flex-direction:column;
    margin-bottom:30px;
    height:auto;
  }
  #publishSlideshow{
    width:100%;
  }
  .buttonContainer{
    width:100%;
    /* height:40vh; */
  }
  .carouselPlaceIndicators button{
    margin:10px;
    width:10px;
    height:8px;
    background-color:rgb(183, 183, 183);
    border:none;
  }
  .carouselPlaceIndicators button.active{
    width:13px;
    height:13px;
    background-color:var(--yellow);
    transform:translate(0,-2.5px);
  }
  .carosel-view{
    height:auto;
  }
  #publishBtn{
    font-size:3rem;
  }
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {}

/* [md] Medium devices, 768px and up */
@media (min-width: 768px) {}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}