:root{ 
  --light-red: #D91911; /* or #902421 */
  --yellow: #FFD172;
  --dark-red: #902421;
  --light-blue: #009BC6;
  --dark-blue: #070e23;}

.body{
  background-color:rgb(37, 37, 37);
  background-image:none;
  height:100%;
}

.background-image{
  content:"";
  position: absolute;
  top:0;
  left:0;
  background-image: url(../../public/images/extras/placehold-doodles.png);
  background-size:600px;
  width:100vw;
  height:100%;
  z-index:0;
  opacity:0.3;
}

#publishContainer{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  height:80%;
}

#publish-slideshow{
  margin-top:20px;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

#panel-overview{
  width:100%;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-view{
 /* width:35vw;*/
 width:100%;
 height:100%;
 /* padding:20px; */
 
}
.carousel-item {
  /* left: -200px; */
  width:100%;
  max-width: 100%;
  height:100%;
  
  /* max-height: 50vh; */
}

.carousel-item img {
  width: 100%;
  max-height: 100%;
  object-fit:contain;
}

.carousel-place-indicators{
 display:flex;
 justify-content: center;
  max-width:100%;
}

.carousel-place-indicators button{
  content:"";
  margin:10px;
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:rgb(183, 183, 183);
  border:none;
}

.carousel-place-indicators button.active{
  width:20px;
  height:20px;
  background-color:var(--yellow);
  transform:translate(0,-2.5px);
}

.carousel-controls{
  width:50px;
  background-color: transparent;
  border:none;
}

.carousel-controls:hover{
  background-color: transparent;
  border:none;
  
}

.carousel-controls>span:hover{
  /* color:var(--yellow); */
  transform:scale(1.5) translate(-.25,-.75);
}

.button-container{
  width:35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin: 20px;
  text-align: center;
  color:white;
}

.button-container p{
  font-size:0.75rem;
}

.button-container button:hover{
  background-color:var(--light-blue);
  color:white;
}

.button-container>div{
  background-color:rgba(23, 23, 23, 0.85);
  border-radius:15px;
  padding:20px;
  margin:10px;
}

.branch-hooks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* font-size: 24px; */
}

#branch-hook-controls{
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.branch-hook-text p{
  margin:0;
}

.branch-control-btn{
  font-size:1.5rem;
  padding:10px 15px;
  border:none;
  border-radius:15px;
  background-color:#929292;
  color:black;
}

#publish-btn {
  margin-top: 20px;
  font-size: 3.5rem;
  padding:0px 25px;
  background-color:#c7c7c7;
  color:black;
  border-radius:20px;
}

#publish-btn:hover{
  background-color:var(--light-red);
  color:var(--yellow);
  transform:scale(1.5) translate(-.25,-.75);
}

button:hover{
  background-color: darkgray;
}

@media only screen and (max-width: 700px){
  /*Tablets [601px -> 1200px]*/
  .footer-bar{
    position:relative;
    z-index:1;
    max-height:none;
  }
  #publishContainer{
    flex-direction:column;
    margin-bottom:30px;
    height:auto;
  }
  #publish-slideshow{
    width:100%;
  }
  .button-container{
    width:100%;
    /* height:40vh; */
  }
  .carousel-place-indicators button{
    margin:10px;
    width:10px;
    height:8px;
    background-color:rgb(183, 183, 183);
    border:none;
  }
  .carousel-place-indicators button.active{
    width:13px;
    height:13px;
    background-color:var(--yellow);
    transform:translate(0,-2.5px);
  }
  .carosel-view{
    height:auto;
  }
  #publish-btn{
    font-size:3rem;
  }
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {}

/* [md] Medium devices, 768px and up */
@media (min-width: 768px) {}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}