 #read-element {
    margin: 9% 0px;
  } 

  #comic-panels {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 11% 1%;
    justify-content: center;
  }

.first-panel,
.second-panel,
.third-panel, .control-bar {
  position: relative;
  border: 20px solid black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #009BC6;
  }

  button:hover{
    background-color: darkgray;
  }

.branch-hook {
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    padding: 5px 10px;
  }

#first-branch-hook{
    top: 5%;
    left: 17%;
}

#second-branch-hook{
    top: 60%;
    left: 15%;
}

#third-branch-hook{
    top: 45%;
    left: 75%;
}

.control-bar {
  position: absolute;
  background-color: rgb(94, 94, 94);
  width:3%;
  height:19%;
  padding: 1% 0 0 0;
  border-radius: 50px;
  border: 2px solid white;
  margin:auto 1%;
  top:50%;
  left:1%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translate(-50%,-50%);
  min-width: 68px;
  min-height:215px;
  z-index: 2;
}

 #back-button, #hook-toggle, #layout-toggle {
    display: block;
    margin: 8px auto;
    position: relative;
    padding: 10px;
    font-size: 18px;
    width: 60px;
    border: none;
    background-color: rgb(94, 94, 94);
  } 