.body {
    width: 100%;
    font-family: var(--font-back-issues);
    background-color: #2d2d2d;
    max-width: 100%;
    padding-right: 0 !important;
    overflow-x: clip;
    background-image: radial-gradient(circle at center,#414141 0.15rem, transparent 0), 
        radial-gradient(circle at center, #414141 0.15rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
}

/* FILTER */

.filter {
    font-size: 18px;
    font-weight: 700;
    color: var(--grayscale-text-color);
    display: grid;
    justify-content: center;
    text-align: center;
    border-color: var(--grayscale-text-color);
}

.accordionButton{
    border-radius: 5px 5px 0 0;
}

.accordionButton:hover {
    color: var(--grayscale-text-bg-color);
    background-color: var(--grayscale-text-color);
    border: 2px solid var(--grayscale-text-bg-color);
}

.accordionBody {
    background-color: var(--grayscale-background-color);
    border-radius: 0 0 5px 5px;
    font-size: 14px;
}

.clearAll {
    color: var(--grayscale-text-bg-color);
}

.clearAll:hover {
    color: var(--grayscale-primary-color);
}

.formControl,
.formSelect {
    background-color: var(--grayscale-primary-color);
    color: var(--grayscale-text-color);
}

.formControl {
    border-radius: 8px 0 0 8px;
}

.formSelect option {
    background-color: var(--grayscale-text-bg-color);
}

.inputGroup{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}

.searchbar{
    border: 1px solid var(--grayscale-text-color);
    border-radius: 0 5px 5px 0;
}

/* .searchbar:hover{
    background-color: var(--grayscale-primary-color);
    border-radius: 0 5px 5px 0;
} */

/* TEAM PANELS */

.nameText {
    font-size: 1rem;
    border: black 2px solid;
    background: #aaaaaa;
    position: absolute;
    top: 0;
    width: 100%;
}

.roleText {
    font-size: 1rem;
    border: black 2px solid;
    background: #aaaaaa;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.teamTitle {
    font-family: var(--font-back-issues);
    font-size: 3rem;
    font-weight: bold;
    color: var(--grayscale-text-bg-color);
}

.personPanel {
    max-width: 300px;
    max-height: 300px;
    border-radius: 0;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.personPanel:hover {
    opacity: 1;
    transition: 3s ease-out;
}

.personPanel:hover .nameText {
    transform: translateX(-10%);
    transition: .5s ease-out;
}

.personPanel:hover .roleText {
    transform: translateX(10%);
    transition: .5s ease-out;
}

.portrait {
    filter: grayscale(1);
    border: #000000 1px solid;
}

.overlayImg
{
    position: absolute;
    opacity: 0;
    left: 0;
}

.personPanel:hover .overlayImg{
    opacity: 1;
    transition: .3s ease-out;
}

/* LAYOUT */
.chapterTitle {
    font-family: var(--font-back-issues);
    font-weight: bold;
    font-size: 2rem;
    color: var(--grayscale-text-bg-color);
}

.creatorGroup {
    border: 2px solid var(--grayscale-primary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

.facultyTitle {
    font-family: var(--font-back-issues);
    font-weight: bold;
    font-size: 2rem;
    color: var(--grayscale-text-bg-color);
}

.facultyGroup {
    border: 2px solid var(--grayscale-primary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

/* BACK TO TOP */

.backToTop {
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    bottom: 0;
    position: sticky;
    z-index: 99;
    width: 80px;
    height: auto;
    margin: 0 10px 0 auto;
    padding-bottom: 20px;
}

@keyframes bounce {
    0% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }

    15% {
        background-image: url(../../public/images/GIFs/arrow-split/frame2.png);
    }

    65% {
        background-image: url(../../public/images/GIFs/arrow-split/frame3.png);
    }

    70% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    90% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    100% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }
}

@keyframes delay {
    0% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }

    84.9% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }

    85% {
        background-image: url(../../public/images/GIFs/arrow-split/frame2.png);
    }

    90% {
        background-image: url(../../public/images/GIFs/arrow-split/frame3.png);
    }

    94% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    97% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    100% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }
}

#scrollToTopButton {
    width: 80px;
    height: 50px;
    padding-top: 15px;
    margin-top: 0px;
    background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    animation: delay 3s linear infinite;
    position: relative;
    filter: grayscale(1);
    border: none;
}

#scrollToTopButton:hover {
    animation: bounce .7s infinite;
    animation-fill-mode: forwards;
    border: none;
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 420px) {
    .formControl, .formSelect{
        width: 100%;
    }
}

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {}

@media (min-width: 768px) {

    /* Filter */
    .filterOpt{
        display: flex;
        position: relative;
        flex:100%;
    }

    .formControl {
        max-width: 290px;
    }

    .inputGroup{
        flex: 55%;
    }

    .role{
        flex: 25%;
    } 

    .year{
        flex: 20%;
    }
}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {

    /* Filter */
    .formControl {
        max-width: 330px;
    }

    .inputGroup{
        flex: 50%;
    }

    .role, .year{
        flex:25%;
    } 
}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}