.body {
    width: 100%;
    font-family: var(--font-back-issues);
    background-color: #2d2d2d;
    max-width: 100%;
    padding-right: 0 !important;
    overflow-x: clip;
    background-image: radial-gradient(circle at center,#414141 0.15rem, transparent 0), 
        radial-gradient(circle at center, #414141 0.15rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
}

/* FILTER */

.filterOpt{
    display: flex;
    position: relative;
    flex:100%;
    width: 90%;
    margin: 0 auto;
}

.filter {
    font-size: 18px;
    font-weight: 700;
    color: var(--grayscale-text-color);
    display: grid;
    justify-content: center;
    text-align: center;
    border-color: var(--grayscale-text-color);

    margin: 1.5rem;
}

.accordionButton{
    border-radius: 5px 5px 0 0;
    background-color: #636363;

    width: 100%;

    outline: none;
    box-shadow: none;
}

.accordionButton:hover {
    outline: none;
    box-shadow: none;
}

.accordionBody {
    background-color: var(--grayscale-background-color);
    border-radius: 0 0 5px 5px;
    font-size: 14px;

    width: 80vw;
    max-width: none;
    padding: 0 0 10px;
}

.clearAll {
    color: var(--grayscale-text-bg-color);
}

.clearAll:hover {
    color: var(--grayscale-primary-color);
}

.formSelect {
    background-color: var(--grayscale-primary-color);
    color: var(--grayscale-text-color);

    height: 100%;
    margin: 0;
}

.formSelect option {
    background-color: var(--grayscale-text-bg-color);
}

.inputGroup{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

/* TEAM PANELS */

.nameText {
    font-size: 1rem;
    border: black 2px solid;
    background: #aaaaaa;
    position: absolute;
    top: 0;
    width: 100%;
}

.roleText {
    font-size: 1rem;
    border: black 2px solid;
    background: #aaaaaa;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.teamTitle {
    font-family: var(--font-back-issues);
    font-size: 3rem;
    font-weight: bold;
    color: var(--grayscale-text-bg-color);
}

.personPanel {
    max-width: 300px;
    max-height: 300px;
    border-radius: 0;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.personPanel:hover {
    opacity: 1;
    transition: 3s ease-out;
}

.personPanel:hover .nameText {
    transform: translateX(-10%);
    transition: .5s ease-out;
}

.personPanel:hover .roleText {
    transform: translateX(10%);
    transition: .5s ease-out;
}

.portrait {
    filter: grayscale(1);
    border: #000000 2px solid;
}

.overlayImg
{
    position: absolute;
    opacity: 0;
    left: 0;
}

.personPanel:hover .overlayImg{
    opacity: 1;
    transition: .3s ease-out;
}

/* FILTER */

.accordionButton:hover {
    color: var(--grayscale-text-bg-color);
    background-color:  #636363;
} 

.accordionBody {
    background-color: var(--grayscale-background-color);
}

.clearAll {
    color: var(--grayscale-text-bg-color);
}

.clearAll:hover {
    color: var(--grayscale-primary-color);
}

.formSelect {
    background-color: white;
    color: var(--grayscale-text-color);

    height: auto;

    max-width: 100%;
}

/* SEARCH BUTTON */

.formControl
{
    padding: 0 0 0 5px;
    width: 100%;
    max-width: none;

    border-radius: 6px 0 0 6px;
}

.searchButton
{
    width: 40px;
    height: 100%;

    background-color: white;

    border: solid 3px #000000;
}

.searchBox 
{
    height: 100%;
    border-radius: 0;
    width: 100%;
}

.searchButton:focus, .searchButton:active,.searchButton:hover
{
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 3px #ffffff;
    background-color: #ffffff;
}

/* DROPDOWN OPTIONS */

.optionStyle
{
    background-color: var(--grayscale-text-bg-color);
}

.optionStyle:checked, .optionStyle:hover, .optionStyle:focus
{
    background-color: gray;
}

/* LAYOUT */
.chapterTitle {
    font-family: var(--font-back-issues);
    font-weight: bold;
    font-size: 2rem;
    color: var(--grayscale-text-bg-color);
}

.creatorGroup {
    border: 3px solid var(--grayscale-primary-color);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

.facultyTitle {
    font-family: var(--font-back-issues);
    font-weight: bold;
    font-size: 2rem;
    color: var(--grayscale-text-bg-color);
}

.facultyGroup {
    border: 2px solid var(--grayscale-primary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

/* BACK TO TOP */

.backToTop {
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    bottom: 0;
    position: sticky;
    z-index: 99;
    width: 80px;
    height: auto;
    margin: 0 10px 0 auto;
    padding-bottom: 20px;
}

@keyframes bounce {
    0% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }

    15% {
        background-image: url(../../public/images/GIFs/arrow-split/frame2.png);
    }

    65% {
        background-image: url(../../public/images/GIFs/arrow-split/frame3.png);
    }

    70% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    90% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    100% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }
}

@keyframes delay {
    0% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }

    84.9% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }

    85% {
        background-image: url(../../public/images/GIFs/arrow-split/frame2.png);
    }

    90% {
        background-image: url(../../public/images/GIFs/arrow-split/frame3.png);
    }

    94% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    97% {
        background-image: url(../../public/images/GIFs/arrow-split/frame4.png);
    }

    100% {
        background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    }
}

#scrollToTopButton {
    width: 80px;
    height: 50px;
    padding-top: 15px;
    margin-top: 0px;
    background-image: url(../../public/images/GIFs/arrow-split/frame1.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    animation: delay 3s linear infinite;
    position: relative;
    filter: grayscale(1);
    border: none;
}

#scrollToTopButton:hover {
    animation: bounce .7s infinite;
    animation-fill-mode: forwards;
    border: none;
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 420px) {

}

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .formSelect {
        background-color: white;
        color: var(--grayscale-text-color);
    
        height: auto;
    
        max-width: 25%;
    }
}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) 
{
    #scrollToTopButton {
        width: 100px;
        height: 70px;
        padding-top: 15px;
        margin-top: 0px;
    }

    /* Filter */
    .filterOpt{
        display: flex;
        position: relative;
        flex:100%;
        width: 80%;
        margin: 0 auto;
    }

    #search-button {
        width: 40px;
        height: 30px;
    }

    .formSelect {
        background-color: white;
        color: var(--grayscale-text-color);
    
        height: auto;
    
        max-width: 30%;
    }
}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}