@font-face
{
  /*
  Main project font
  */
  font-family: 'Back-Issues-BB';
  src: url('fonts/BackIssuesBb.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face
{
  /*
  Main project font
  */
  font-family: 'Back-Issues-BB';
  src: url('fonts/BackIssuesBbItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face
{
  /*
  Main project font
  */
  font-family: 'Back-Issues-BB';
  src: url('fonts/BackIssuesBbBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
.App {
  font-family: "Back-Issues-BB";
  color: black;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.App-link {
  color: #61dafb;
}

#buble
{
  background-image: url('images/crowd_comic_elements13.png');
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(20px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
