@font-face
{
  /*
  Main project font
  */
  font-family: 'Back-Issues-BB';
  src: url('BackIssuesBb.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face
{
  /*
  Main project font
  */
  font-family: 'Back-Issues-BB';
  src: url('BackIssuesBbItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

@font-face
{
  /*
  Main project font
  */
  font-family: 'Back-Issues-BB';
  src: url('BackIssuesBbBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
.App {
  font-family: "Back-Issues-BB";
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
